.head{
      
    background-color: rgb(70, 148, 141);
    border:solid;
    font-family: fantasy;
     }
  
     .note{
       background-color:#31964f;
       border: dotted;
     }


.img{
  border: solid;
}
  
  .grid {
    background: darkred;
    background-color: #F0F8FF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }
  
  .camel {
    border: 1px solid #0000FF;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
   
  }
  
  
  .chameleon {
    border: 1px solid #0000FF;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .cicada {
    border: 1px solid #0000FF;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .panda {
    border: 1px solid #0000FF;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .pigeon {
    border: 1px solid #0000FF;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .teddy {
    border: 1px solid #0000FF;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  a:link{
    color:aqua;
}
a:visited{
    color:blueviolet;
}
 